*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: orangered;
}

.btn-primary{
    color: #ffffffff;
    font-weight: 700;
    font-size: 20px;
    height:60px;
    border-radius: 5px;
    border: 0; 
    background-color: orangered;
    padding: 18px 35px;
}

.header{
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

section{
    margin-top: 130px;
}

/* heeader and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px ;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left:50px  ;
}


/* banner style */

.banner{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:0 150px 0 200px;

}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description{
    color:#757575 ;
    font-size: 18px;
    margin-bottom: 30px;
}


/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about section style */

.about{
    background-color:#fff8f3 ;
    border-radius: 10px;
    padding: 80px 150px;
    text-align: center;
    
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}


/* what i do style */

.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    background: #ffffffff;
    box-shadow: 0px 6px 50px rgba(0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}


/* Resume styles */

.resume-content{
    display: flex;
    gap:24px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title{
    font-size: 25px ;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
    font-size: 20px;
}

.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}

.resume .description{
    color:#757575 ;
}

.resume-button{
    margin-top: 50px;
    text-align: center;
}


/* contact styles */

.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
}

.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom:24px;
    border: 0; 
    width: 100%;
    padding:18px 30px;
}

.contact a{
    text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }

    nav,
    .banner, 
    .skill-container, 
    .resume-content, 
    .about-info-container, 
    .contact{
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }

    .banner{
        margin: 0;
    }

    nav{
        margin: 0;
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 20px;
    }

    ul li{
        margin-left: 0;
    }

    .banner img{
        width: 100%;
    }

    .about, .contact{
        padding: 20px;
        text-align: justify;
    }

    .contact input[type="text"], input[type="email"], textarea{
        padding: 10px 5px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .about, .contact{
        padding: 20px;
        text-align: justify;
    }

    .contact, .banner{
        flex-direction: column;
    }

    .contact input[type="text"], input[type="email"], textarea{
        padding: 15px 10px;
    }

    .resume-content{
        padding: 15px 10px;    
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}


.hide{
    display: none;
}